<html>
<head>
  <title data-l10n-id="ep_padlist2_list_page-title">Pads</title>
  <meta name="description" content="All Pads">
  <meta name="viewport" content="width=device-width">
  <link rel="stylesheet" href="static/plugins/ep_padlist2/static/css/main.css">
  <script src="static/js/jquery.js" ></script>
  <script src="static/plugins/ep_padlist2/static/js/main.js"></script>
  <link rel="localizations" type="application/l10n+json" href="locales.json" />
  <script src="static/js/html10n.js"></script>
  <script src="static/js/l10n.js"></script>
</head>
<body>
  <div class="head">
    <h1 data-l10n-id="ep_padlist2_list_heading">Pads</h1>
    <input type="search" data-l10n-id="ep_padlist2_list_search-box.placeholder" placeholder="Search pads">
  </div>
  <ul>
    <% padIds.forEach((padId) => { %>
      <li><a href="p/<%= encodeURIComponent(padId) %>"><%= padId %></a></li>
    <% }) %>
  </ul>
</body>
</html>
