<html>
<head>
  <title>Pads</title>
  <meta name="description" content="All Pads">
  <meta name="viewport" content="width=device-width">
  <link rel="stylesheet" href="static/plugins/ep_padlist2/static/css/main.css">
  <script src="static/js/jquery.js" ></script>
  <script src="static/plugins/ep_padlist2/static/js/main.js"></script>
</head>
<body>
  <div class="head">
    <h1>Pads</h1>
    <input type="search" placeholder="search pads">
  </div>
  <ul>
    <% padIds.forEach((padId) => { %>
      <li><a href="p/<%= encodeURIComponent(padId) %>"><%= padId %></a></li>
    <% }) %>
  </ul>
</body>
</html>
