<html>
<head>
  <title>Pads</title>
  <meta name="description" content="All Pads">
  <meta name="viewport" content="width=device-width">
  <link href='http://fonts.googleapis.com/css?family=Cousine:400,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="/list/static/css/main.css">
  <script src="http://code.jquery.com/jquery-2.0.3.min.js" ></script>
</head>
<body>
  <div class="head">
    <h1>Pads</h1>
    <input type="search" placeholder="search pads">
  </div>
  <ul>
    <% pads.forEach(function(pad){ %>
      <li><a href="p/<%= pad.toString() %>"><%= pad.toString() %></a></li>
    <% }) %>
  </ul>

  <script src="/list/static/js/main.js"></script>
</body>
</html>
